@import "../../app.scss";

.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            gap: 40px;

            @include mobile{
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            @include tablet{
                padding-left: 30px;
            }

            h2{
                font-size: 40px;
                color: rebeccapurple;
                letter-spacing: 10px;
                font-weight: bold;
            }

            h1{
                font-size: 60px;

                @include mobile{
                    font-size: 40px;
                }
            }
            .buttons{
                cursor: pointer;
                z-index: 2;
                button{
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                    
                }

                button:hover{
                    cursor: pointer;
                }
            }


            img{
                // height: 50px;
                width: 50px;

                @include mobile{
                    display: none;
                }
            }
        }
    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0%;
        right: 0%;

        @include mobile{
            height: 50%;
            width: 100%;
            top:unset;
            bottom: 0;
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        img:hover{
            transform: scale(1);
        }
    }

    .slidingTextContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
        z-index: 1;

        @include mobile{
            width: 100%;
            font-size: 25vh;
            bottom: 160px;
        }

        @include tablet{
            bottom: -80px;
        }
    }
}