@import "../../app.scss";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.navbar{
    height: 100px;
    // background-color: aqua;

    .wrapper{
        // background-color: aqua;
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        @include mobile{
            justify-content: flex-end;
            padding: 20px;
        }


        span{
            // font-family: "Alex Brush", cursive;
            font-weight: bold;
            font-size: 30px;
            color: whitesmoke;

            @include tablet{
                padding-left: 100px;
            }

            @include mobile{
                display: none;
            }
        }

        .social{
            display: flex;
            gap: 20px;
            padding: 20px;

            img{
                width: 18px;
                height: 18px;
            }
        }
    }
}